
body {
    background-image: linear-gradient(#a5ebeb, #4b78f3);
    background-position: 10rem;
}

h1 {
    /* font-family: "Montserrat-Black"; */
    font-size: 2rem;
    line-height: 1.5;
    padding: 2% 5%;
}

button {
    position: 0 0 0 10px;
}
.logo {
    font-family: "Ubuntu";
    font-size: 2.5rem;

}
footer {
    text-align: center;
}
.container-fluid {
    padding: 3% 15%;
}
.content {
    background-color: #FFF;
    border-radius: 2%;
}
.form-col {
    padding: 2% 5%;
}

.form-col2 {
    padding: 2% 5%;
    background-image: linear-gradient(#d7f0f7, #809ff5);
    border-radius: 2%;
}

/* .img {
    position: static;
} */

#navigation {
    padding-bottom: 3rem;
}



/* 
@media (max-width: 990px) {

    .img {
        margin-top: 0;
    }
} */
